* {
  box-sizing: border-box;
}

body {
  background-color: rgb(37, 36, 36);
  height: 100%;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main a {
  color: rgb(67, 143, 67)
}
