.products {
  background-image: none;
  padding: 5%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.products p {
  font-size: 20px;
}

.product-title {
  font-size: 30px;
  text-align: left;
}

.product-image-wrapper {
  display: flex;
  justify-content: flex-start;
}

.product-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

@media (max-width: 600px) {
  .products p {
    font-size: 15px;
  }
  .product-title {
    font-size: 20px;
  }
}
